* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

#sidebar_title{
  font-size: 18px;
  font-weight: 700;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main_title {
  font-size: 18px;
  font-weight: 700;
  height: 7vh;
  display: flex;
  align-items: center;
}

/* Projects */

.projects {
  padding: 15px;
}

#project {
  border-radius: 10px;
  height: 5vh;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

#project_title{
  padding: 10px;
}

#sub_menu_title {
  font-size: 14px;
  height: 7vh;
  display: flex;
  justify-content: center;
}

.adding_project {
  color: blue;
  display: flex;
  align-items: center;
  font-size: 13px;
}


/* pop-ups */

.popup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 500px;
}

.popup_title{
  color: blue;
  font-size: 16px;
  display: flex;
  align-items: center;
  float: left;
}

.close-popup{
  color: grey;
  font-size: 16px;
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
}

.popup_footer{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
label{
  font-size: 12px;
  font-weight: 400;
}

.box{
  box-shadow: 1px 3px 22px -3px grey;
  border-radius: 10px;
  padding: 10px;
}
.box_title{
  font-size: 16px;
  font-weight: 500;
}

.box_date_title{
  font-size: 11px;
  font-weight: 500;
  color: grey;
}

.box_date{
  font-size: 12px;
  color: blue;
  background-color: #EBEEFC;
  border-radius: 10px;
  padding: 7px;
}